/*Colors*/
$color-main: #1797D1;
$color-muted: #71777A;
$color-dark: #072734;
$color-purple: #390c5b;

$background-primary: #F8F8F8;
$background-white: #ffffff;

/*font*/
$nunito: 'Nunito',
  sans-serif;
$montserrat: 'Montserrat',
  sans-serif;