@media (min-width: 56.25em) {
  mat-stepper {
    width: 80%;
    margin: 3rem auto;
  }
}

.title-2 {
  margin-top: 4rem;
  text-align: center;
}

.form__input {
  padding-left: 1rem;
}

.d-none {
  display: none;
}

::ng-deep {
  .mat-stepper-vertical-line::before {
    content: "";
    position: absolute;
    left: -24px !important;
    border-left-width: 1px;
    border-left-style: solid;
    top: -16px;
    bottom: -16px;
    border-left-color: rgba(0, 0, 0, .12);
  }

  .mat-step-icon {
    background-color: #1797D1;
    color: #fff;
    font-size: 2rem;
  }

  .mat-step-label {
    font-size: 1.4rem;
  }

  .mat-step-label-selected {
    color: darken($color: #71777A, $amount: 40%);
    font-weight: bold;
  }

  .mat-step {
    margin-bottom: 1rem;
  }
}
